.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-weight: 700;
    font-family: Arial;
    font-size: 36px;
    color: #162e44;
    text-transform: uppercase;
}

.block {
    &__bg {
        &__lazur {
            background: #01b3a7;
        }
    }

    &__title {
        margin: 20px auto 10px;

        &__white {
            color: white;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__image {
        margin: 10px;
        max-height: 400px;
    }
}

.carousel{
    &__image{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 0% 50%;
    }
}